.link {
	background-color: black;
	color: white;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding: 10px 20px;
	line-height: 26px;
	position: fixed;
	bottom: 0px;
	width: 160px;
	text-align: right;
}

.next {

}

.prev {
	text-align: right;
}

.date {
	display: block;
	font-size: 28px;
}

.year {}