.date {
	display: block;
}

.link {
	font-weight: bold;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
}

.prev, .next {
	background-color: black;
	color: white;
	padding: 10px 20px;
	line-height: 26px;
	position: fixed;
	bottom: 0px;
	width: 160px;
	text-align: right;
}

.prev {
	text-align: right;
}

.prev > .date, .next > .date {
	font-size: 28px;
}

.current {
	text-transform: uppercase;
	text-align: right;
	position: fixed;
	top: 50px;
	line-height: 36px;
	color: black;
}

.current > .date {
	font-size: 44px;
	display: block;
}

.current > .year {
	font-size: 28px;
}


