@lost flexbox flex;

html, body {
  height: 100%;
}

body {
  all: initial;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
}

.main {
	 lost-flex-container: row;
   width: 100%;
   min-height: 100%;
}

.container {
  lost-center: 1140px;
  position: relative;
  min-height: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  lost-column: 1/3;
}
