@lost flexbox flex;

body {
  /*all: initial;*/
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
  position: relative;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}