@lost flexbox flex;
/*@lost gutter 10px;*/
/*
html, body, body > div {
  height: 100%;
  width: 100%;
}*/

body {
  /*all: initial;*/
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
}

.main {
	 lost-flex-container: row;
   width: 100%;
   min-height: 100%;
   margin-bottom: 100px;
}

.container {
  lost-center: 1140px;
  position: relative;
  min-height: 100%;
}

.content {
  /*margin: 0 auto;*/
  /*max-width: 1000px;*/
  /*width: 100%;*/
  lost-center: 980px;
}
