// typographic styles

$open-sans           = 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'
$line-height-ratio   = 1.75
$heading-ratio       = $golden
$body-font           = $open-sans
$body-font-weight    = 300
$body-color          = #666
$heading-font        = $open-sans
$heading-font-weight = 500
$heading-color       = #111
$min-font            = 13px
$max-font            = 20px
$min-width           = 600px
$max-width           = 1000px
$vertical-rhythm     = true


// colors

$white = #ffffff
$black = #000000
