.content {
	width: 100%;
}

.main {
	display: flex;
	flex-direction: column;
}

.content {
	lost-column: 2/3;
	lost-offset: 1/6;
}

.fixedRight {
	position: absolute;
	top: 50px;
	right: 30px;
	width: 180px;
	/*lost-column: 1/6;*/
}

.fixedLeft {
	position: absolute;
	bottom: 0px;
	width: 180px;
}

@media (max-width: 600px) {
	.content {
		width: 100%;
		padding: 0px 20px;
		lost-offset: 0;
	}
	.fixedRight {
		position: relative;
		top: auto;
		right: auto;
		width: 100%;
		text-align: center;
	}
}