.content {
	width: 100%;
}

.main {
	display: flex;
	flex-direction: column;
}

.content {
	lost-column: 2/3;
	lost-offset: 1/6;
}

.fixedRight {
	position: absolute;
	top: 50px;
	right: 30px;
	width: 180px;
	/*lost-column: 1/6;*/
}

.fixedLeft {
	position: absolute;
	bottom: 0px;
	width: 180px;
}