.content {
	width: 100%;
}

.fixedRight {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 180px;
}

.fixedLeft {
	position: absolute;
	left: 20px;
	bottom: 0px;
	width: 180px;
}

.dateTitle {
	text-transform: uppercase;
	text-align: right;
	position: fixed;
	top: 30px;
	line-height: 36px;
}

.date {
	font-size: 44px;
	display: block;
}

.year {
	font-size: 28px;
}