.main {
	display: flex;
	flex-direction: column;
}

.fixedRight {
	position: absolute;
	right: 30px;
	top: 50px;
	width: 180px;
}

.content {
	lost-column: 2/3;
	lost-offset: 1/6;
}

.dateTitle {
	text-transform: uppercase;
	text-align: right;
	/*position: absolute;
	top: 30px;*/
	line-height: 36px;
}

.date {
	font-size: 44px;
	display: block;
}

.year {
	font-size: 28px;
}

.harms {
	float: left;
	list-style-type: none;
	padding: 0px;

}

.harmEntry {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.harmIcons {
	lost-column: 1/3;
}

.harmIcon {
	height: 100px;
	width: 100px;
}

.harmDescription {
	border-left: 5px solid black;
	padding-left: 20px;
	min-height: 100px;
	lost-column: 2/3;
}

.harmTitle {
	margin: 0px 0px 5px 0px;
}

.harmTerm {
	font-weight: normal;
	font-size: 1em;
	margin-top: 0px;
	text-transform: uppercase;
}

@media (max-width: 600px) {
	.content {
		width: 100%;
		padding: 0px 20px;
		lost-offset: 0;
	}
	.fixedRight {
		position: relative;
		top: auto;
		right: auto;
		width: 100%;
		text-align: center;
	}
	.harmIcon {
		height: 50px;
		width: 50px;
	}
}